@use "../../styles/mixins.scss" as mixins;

:host {
  display: flex;
  padding-block-start: 1rem;
  justify-items: flex-end;
  background-color: #317483;
  column-gap: 1rem;
  justify-content: space-between;
}

h1 {
  @include mixins.atma-font();
  color: #ffffff;
  font-size: clamp(1rem, -3.125rem + 22vw, 2.375rem);
  line-height: 2.5rem;
  padding-inline-start: 1em;
}

img {
  padding-inline-end: 1rem;
  width: auto;
  height: 16em;
}
