<p role="contentinfo">
  Here you can find the list of the last 5 events you can vote.
</p>

@if (listEvents.hasValue()) { @for (item of listEvents.value(); track $index) {
@let canRedirect = item.talk && item.vote_enabled;
<section (click)="canRedirect && navigate(item.id)">
  <header>
    {{ item.name_event }} - {{ item.date_event_from | date : "dd/MM/yyyy" }}
  </header>
  <article>
    <p>
      @if(canRedirect) {
      <a routerLink="/events/add-rating/{{ item.id }}">{{ item.talk }}</a>
      } @else if (!item.vote_enabled && item.talk) {
      {{ item.talk }}
      } @else { Coming soon.. }
    </p>
  </article>
</section>
} }
