[role="contentinfo"] {
  margin-block-start: 1.5rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  span {
    &:first-of-type {
      margin-block-start: 1em;
    }
    margin-block-start: 0.5rem;
    text-align: center;
  }

  textarea {
    min-height: 6em;
    margin-block: 3em 2em;
    border-radius: 0.5em;
    padding: 1em;
    &::placeholder {
      font-size: 1.5em;
    }
  }

  label {
    font-size: 1.5em;
    margin-block-end: 0.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    input {
      display: none;
    }
  }

  [data-rating-comment] {
    margin-block-start: 1.5rem;
    border: 1px solid #317483;
    padding: 1em;
    border-radius: 0.5em;
    background-color: color-mix(in oklab, #317483 25%, #fff);
    p {
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      margin: 0.5rem;
      padding: 0;
    }
  }

  button {
    border-radius: 1em;
    padding: 1em 0.5em;
    border: none;
    color: #ffffffff;
    background-color: #317483;
    &:not(:disabled) {
      cursor: pointer;
    }

    &[type="submit"] {
      font-size: 1em;
    }
    &[type="button"] {
      display: flex;
      padding: 0.8em 0.5em;
      column-gap: 0.5rem;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 1rem;
      width: 100%;
      justify-content: center;
      svg {
        padding-block-end: 0.15rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &:disabled {
      background-color: #a3bfc6;
    }
  }

  [role="group"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-block: 1rem 3rem;
    row-gap: 1rem;
    & span {
      margin-block-start: 0;
      padding: 0;
    }
  }

  [role="complementary"] {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    button {
      background-color: transparent;
      min-width: 3rem;
    }
  }
}

[alt="No vote"] {
  display: block;
  margin: auto;
  margin-block-start: 1.5rem;
  width: auto;
  height: 15rem;
}
