@if (!canVote()) {
<img ngSrc="/me-sad.svg" alt="No vote" width="56" height="90" priority />
<p>Feedback Vote disabled</p>
} @else { @let formValueRating = formRating.get('rating')!.value || 0;
<p role="contentinfo" aria-label="Feedback form">
  Please leave your feedback below:
</p>
<app-image-rating
  (ratingSelected)="formRating.get('rating')!.setValue($event)"
  [formValueRating]="formValueRating"
></app-image-rating>
<form [formGroup]="formRating" (ngSubmit)="onSubmit()">
  <span><b>Tap to rate</b></span>
  <span>
    Current rating: <b>{{ formRating.value.rating || 0 }}</b></span
  >

  <textarea placeholder="Leave a comment" formControlName="comment"></textarea>
  <button [disabled]="formRating.invalid" type="submit">Submit</button>
</form>
}
