@use "common/styles/mixins.scss" as mixins;
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-block-end: 1rem;
}

footer {
  @include mixins.atma-font();
  margin-block-start: auto;
  padding: 1rem 0.8rem 0.25rem 1rem;
  background-color: #317483;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: end;
  a {
    color: #ffffff;
  }
}
