@if(noEventFound() === true) {
<h1>No event found</h1>
} @else if (!canVote()) {
<h1>Feedback Vote disabled</h1>
}@else { @if(eventData) {
<span role="heading">🚀</span>
<h1>Feedback form</h1>
<h3>
  Thank you for attended my talk at <b>{{ eventData.name_event }}</b>
</h3>
<h3>
  <b>" {{ eventData.talk }} "</b>
</h3>
<p>I love to hear your thoughts!</p>

<app-form-vote
  [(resetForm)]="resetForm"
  (emitForm)="onSubmitForm($event)"
></app-form-vote>
} @else {
<h1>Loading...</h1>
} }

<app-toast
  [visible]="hiddenToast()"
  [message]="stateSave()?.message"
  [type]="stateSave()?.type"
></app-toast>
