h1 {
  margin-block: 0.55em 0.85em;
  text-align: center;
}
h2 {
  margin-block-start: 0.35em;
}

[role="heading"] {
  display: block;
  font-size: var(--font-size-emoji, 5rem);
  text-align: center;
}

[role="contentinfo"] {
  margin-block-start: 1.5rem;
  border-block-start: 2px solid var(--text-color);
  padding-block-start: 1rem;
}
