@if(noEventFound() === true) {
<img ngSrc="/me-upset.svg" alt="No event" width="56" height="90" priority />
<h1>No event found</h1>

} @else { @let event = eventData(); @if(event) {
<div role="definition">
  <h4>Thank you for attended my talk at</h4>
  <h4>
    <b>{{ event.name_event }}</b>
  </h4>
  <h3>
    <b>"{{ event.talk }}"</b>
  </h3>
</div>
<app-form-vote
  [canVote]="canVote()"
  [(resetForm)]="resetForm"
  (emitForm)="onSubmitForm($event)"
></app-form-vote>
} @else {
<h1>Loading...</h1>
} }

<dialog #dialog>
  <app-toast
    [message]="stateSave()?.message"
    [type]="stateSave()?.type"
  ></app-toast>
  <button (click)="dialog.close()">Close</button>
</dialog>
