<form [formGroup]="formRating" (ngSubmit)="onSubmit()">
  <input
    formControlName="rating"
    class="rating"
    max="5"
    oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
    step="0.5"
    style="--value: 0"
    type="range"
  />

  <span>Actual rating: {{ formRating.value.rating }}</span>

  <textarea placeholder="Leave a comment" formControlName="comment"></textarea>
  <button [disabled]="formRating.invalid" type="submit">Submit</button>
</form>
<pre>
  {{ formRating.value | json }}
  {{ formRating.invalid }}
</pre>
