<form [formGroup]="formRating" (ngSubmit)="onSubmit()">
  <input
    formControlName="rating"
    max="5"
    oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
    step="0.5"
    style="--value: 0"
    type="range"
  />

  <span
    ><b>Slide to rating.</b> Actual rate: {{ formRating.value.rating }}</span
  >

  <textarea placeholder="Leave a comment" formControlName="comment"></textarea>
  <button [disabled]="formRating.invalid" type="submit">Submit</button>
</form>
<pre>
  {{ formRating.value | json }}
  {{ formRating.invalid }}
</pre>

<app-toast [message]="'ciaone prontone'" [type]="'success'"></app-toast>
