@use "../../styles/mixins.scss" as mixins;

:host {
  @include mixins.atma-font();
  display: flex;
  column-gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  inset-block-start: calc(0% + 1rem);
  font-size: 2rem;
  &[toast-type="success"] {
    background-color: #17a948ff;
    color: #ffffff;
  }
  &[toast-type="error"] {
    background-color: #ff0000ff;
    color: #ffffff;
  }
  text-align: center;
}

h2 {
  margin-block: 0em;
  @include mixins.atma-font();
  font-size: 2rem;
  color: #ffffff;
}

p {
  margin-block-start: 0.2em;
  font-size: 1.5rem;
}
