:root {
  --background-color: hsl(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
  --atma-default-color: #4eb6ce;
}

@mixin base-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  @include base-font();
  @for $i from 1 through 6 {
    h#{$i} {
      @include base-font();
    }
  }
}

textarea,
input {
  @include base-font();
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #222;
    --atma-default-color: #317483;
  }
}
